@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EDFFF7;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
header{
    background-color: white;
    color: #3A6F57;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav a{
    color: #3A6F57;
    text-decoration: none;
    margin-right: 15px;
}
nav a:hover{
    color: #11241c;
    transition-duration: 0.5s;
}
.sobre{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.imagem{
    width:50%;
    height:100%;
    background-color: #11241c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
}
.escrita{
    width: 40%;
    margin-right: 15px;
}
.escrita h1, .escrita h3{
    margin-top: 30px;
}
.material_sessao{
    text-align: center;
}
.material_sessao h5{
    margin-top: 20px;
}
.materiais{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
.material{
    background-color: #11241c;
    height: 250px;
    width:250px;
    border-radius: 10%;
}
.materiais2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: white;
}
.lista_materiais h1{
    text-align: center;
    margin-top: 60px;
    font-size: 100px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #3A6F57;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer_info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow:column wrap;
    width: 20%;
}
.footer_info a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.footer_info a:hover{
    color: #11241c;
    transition-duration: 0.5s;
}
.footer_redessociais{
    background-color: #07110d;
    height: 50px;
}
.footer_redessociais a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    float: right;
    margin-top: 7px;
    margin-right: 15px;
}
.footer_redessociais a:hover{
    color: #00a35f;
    transition-duration: 0.5s;
}